[Unit]
Description=Robot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 Robot.py --start --daemon
WorkingDirectory=/home/reijo/Robot/python3/Robot/Robot
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=root

[Install]
WantedBy=multi-user.target